/*解决浏览器兼容问题  '*'选中所有 企业项目不用  考虑运算 考虑加载*/
*{margin:0;padding:0;}
body,html{font-size:16px;}
body{background:url('../images/1.jpg');/*背景图片*/}
.mess{
	width:600px;/*宽*/
	/*height:400px;高*/
	background:#fff;/*背景色*/
	margin:100px auto 0;/*上外边距 左右自适应（居中） 下外边距*/
	border-radius:5px;/*css3属性 小圆角 兼容（低版本浏览器）*/
	padding:15px 10px;/*上下 左右*/
	position:relative;/*相对定位 参照物*/
}
.mess .text{
	width:600px;
	height:100px;
	border:1px solid #ddd;/*边框线：粗细 线型 颜色*/
	border-radius:5px;
}
.mess .text .pic{
	width:99px;
	height:100px;
	border-right:1px solid #ddd;
	float:left;/*左浮动*/
	background:url('../images/tu.png') no-repeat center center;
	font-size:14px;
	text-align:center;/*文本对齐方式 居中*/
	line-height:150px;/*行高 把文字放置行高为多少的中间*/
	color:#666;
}
.mess .text .txt{
	width:500px;
	height:100px;
	float:left;
}
.mess .btn-box{
	width:600px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#666;
	padding:10px 0;
	display:none;
}
.mess .btn-box span{
	padding:0 20px;
}
.mess .btn-box span.btn{
	background:#ff9900;
	float:right;
	color:#fff;
	border-radius:5px;
}
.mess .fimg{
	width:600px;
	padding:0 10px;
	height:220px;
	background:rgba(0,0,0,0.5);
	position:absolute;/*绝对定位*/
	left:0;
	top:180px;
	box-shadow:1px 1px 2px 2px #ECECEC;
	display:none;
}
.mess .fimg .ths{
	color:#fff;
	font-size:30px;
	line-height:220px;
	text-align:center;
}

